    <p class="c1 c7"><span class="c0"></span></p>
    <p class="c1"><span class="c0">2. DECLARACIONES:</span></p>
    <p class="c1 c7"><span class="c0"></span></p>
    <p class="c4"><span class="c9">Carlos L&oacute;pez de Lara</span><span class="c0">&nbsp;tiene licencia del ayuntamiento de Zacatecas para llevar a cabo negocio de fotograf&iacute;a digital. </span><span class="c9">Carlos L&oacute;pez de Lara</span><span class="c0">&nbsp; ofrece servicios de fotograf&iacute;a digital profesional al p&uacute;blico en general y act&uacute;a como creador art&iacute;stico de im&aacute;genes fotogr&aacute;ficas.</span></p>
    <p class="c4 c7"><span class="c0"></span></p>
    <p class="c4"><span class="c9">El Cliente </span><span class="c0">ha acudido con </span><span class="c9">Carlos L&oacute;pez de Lara</span><span class="c0">, ha hecho preguntas y se han aclarado sus dudas sobre los servicios que ofrece Carlos L&oacute;pez de Lara y ha visto ejemplos del trabajo que realiza. El Cliente encuentra satisfactorio el trabajo fotogr&aacute;fico que realiza </span><span class="c9">Carlos L&oacute;pez de Lara</span><span class="c0">. </span></p>
    <p class="c4 c7"><span class="c0"></span></p>
    <p class="c4"><span class="c9">El Cliente </span><span class="c0">declara que el d&iacute;a </span><span class="c5">30 de DICIEMBRE DE 2017 </span><span class="c0">se llevar&aacute; a cabo la celebraci&oacute;n del &nbsp; matrimonio &nbsp; de sus amigos &nbsp;Kathia y Jorge. El Cliente ha consultado y est&aacute;n de acuerdo en ello. &nbsp;Por su parte, </span><span class="c9">Carlos L&oacute;pez de Lara</span><span class="c0">&nbsp;acuerda realizar la Sesi&oacute;n de Fotograf&iacute;a seg&uacute;n lo convenido en las ESPECIFICACIONES DEL EVENTO anexas a este contrato y que mediante esta referencia se incorporan como parte integral del mismo.</span></p>
    <p class="c1 c7"><span class="c0"></span></p>
    <p class="c1"><span class="c0">3.T&Eacute;RMINOS DEL CONTRATO:</span></p>
    <p class="c1 c7"><span class="c0"></span></p>
    <p class="c4"><span class="c0">HORARIOS DE SERVICIO: El tiempo de prestaci&oacute;n de servicios profesionales de fotograf&iacute;a digital es la esencia del presente contrato, </span><span class="c9">Carlos L&oacute;pez de Lara</span><span class="c0">&nbsp;se presentar&aacute; al evento en los lugares y horarios indicados en las ESPECIFICACIONES DEL EVENTO y permanecer&aacute; ah&iacute; hasta que:</span></p>
    <p class="c4 c7"><span class="c0"></span></p>
    <ul class="c25 lst-kix_list_4-0 start">
        <li class="c4 c29"><span class="c0">Se hayan completado los servicios que el Cliente contrata o </span></li>
        <li class="c4 c29"><span class="c0">Hasta una hora diferente seg&uacute;n las partes puedan acordar por escrito, o</span></li>
        <li class="c4 c29"><span class="c0">Hasta que Carlos L&oacute;pez de Lara as&iacute; lo determine a su juicio y discreci&oacute;n si &eacute;ste considera que le es imposible proporcionar los servicios contratados por circunstancias fuera de su control. &Eacute;stas circunstancias pueden ser pero no se limitan a: &nbsp;condiciones clim&aacute;ticas, condiciones que pongan en riesgo la seguridad e integridad personal o para su equipo fotogr&aacute;fico.</span></li>
    </ul>
    <p class="c4 c7"><span class="c0"></span></p>
    <p class="c4"><span class="c0">4. SERVICIOS CONTRATADOS: &nbsp;</span></p>
    <p class="c4 c7"><span class="c0"></span></p>
    <p class="c4"><span class="c9">Carlos L&oacute;pez de Lara</span><span class="c0">&nbsp;har&aacute; fotograf&iacute;as digitales, seg&uacute;n lo indicado en las ESPECIFICACIONES DEL EVENTO, poniendo en ello todo su esfuerzo y capacidad t&eacute;cnica. </span><span class="c9">Carlos L&oacute;pez de Lara</span><span class="c0">&nbsp;no garantiza que cada pose o cada grupo solicitado por el cliente pueda ser fotografiado. </span></p>
    <p class="c4 c7"><span class="c0"></span></p>
    <p class="c4"><span class="c9">El Cliente</span><span class="c0">&nbsp;contrata a C</span><span class="c9">arlos L&oacute;pez de Lara </span><span class="c0">por su trabajo art&iacute;stico al crear im&aacute;genes fotogr&aacute;ficas digitales.</span></p>
    <p class="c4 c7"><span class="c0"></span></p>
    <p class="c4"><span class="c0">5. SELECCI&Oacute;N Y PROCESAMIENTO DE IM&Aacute;GENES: </span></p>
    <p class="c4 c7"><span class="c0"></span></p>
    <p class="c4"><span class="c0">Durante los d&iacute;as posteriores al evento, </span><span class="c9">Carlos L&oacute;pez de Lara</span><span class="c0">&nbsp;seleccionar&aacute; el material fotogr&aacute;fico que se entregar&aacute; al cliente. Durante este proceso, algunas fotograf&iacute;as digitales podr&aacute;n ser eliminadas definitivamente. </span></p>
    <p class="c4 c7"><span class="c0"></span></p>
    <p class="c4"><span class="c0">Despu&eacute;s de seleccionar el material, </span><span class="c9">Carlos L&oacute;pez de Lara</span><span class="c0">&nbsp;procesar&aacute; las im&aacute;genes digitales capturadas en el evento, utilizar&aacute; medios digitales para ello tales como computadoras y software adecuados. Realizar&aacute; correcciones o ajustes a las fotograf&iacute;as seg&uacute;n su juicio y concepto art&iacute;stico. &nbsp;</span></p>
    <p class="c4 c7"><span class="c0"></span></p>
    <p class="c4"><span class="c0">6. COOPERACI&Oacute;N DEL CLIENTE: </span></p>
    <p class="c4 c7"><span class="c0"></span></p>
    <p class="c4"><span class="c0">El Cliente se compromete a proporcionar a </span><span class="c9">Carlos L&oacute;pez de Lara</span><span class="c0">&nbsp;toda su cooperaci&oacute;n y asistencia seg&uacute;n lo siguiente:</span></p>
    <p class="c4 c7"><span class="c0"></span></p>
    <p class="c4 c10"><span class="c0">ASISTENCIA LOG&Iacute;STICA: Es responsabilidad del Cliente &nbsp;asegurar que las personas o actividades a fotografiar en el Evento se encuentran o efectivamente se realicen seg&uacute;n lo establecido en las ESPECIFICACIONES DEL EVENTO. Si alguna de las actividades indicadas en las ESPECIFICACIONES DEL EVENTO no se realizar&aacute; o si algunas personas no se presentaren, </span><span class="c9">Carlos L&oacute;pez de Lara</span><span class="c0">&nbsp; est&aacute; excluido de toda responsabilidad y por tanto no realizar&aacute; descuentos en el precio ni &nbsp;realizar&aacute; fotograf&iacute;as de tales personas o actividades en fechas posteriores ni fuera de los horarios establecidos en ESPECIFICACIONES DEL EVENTO. </span></p>
    <p class="c4 c7 c10"><span class="c0"></span></p>
    <p class="c4 c10"><span class="c0">MAPA DE DIRECCIONES: Si Carlos L&oacute;pez de Lara lo solicita, el Cliente deber&aacute; proporcionar a Carlos L&oacute;pez de Lara un mapa con las ubicaciones, direcciones y rutas adecuadas para llegar a los lugares en los que se realizar&aacute;n las actividades propias del evento. </span></p>
    <p class="c4 c7 c10"><span class="c0"></span></p>
    <p class="c4 c10"><span class="c0">COOPERACI&Oacute;N: &nbsp;La actitud relajada y cooperativa del Cliente es indispensable en el proceso de realizar las fotograf&iacute;as. </span><span class="c9">Carlos L&oacute;pez de Lara</span><span class="c0">&nbsp;pondr&aacute; su empe&ntilde;o en propiciar un ambiente relajado y agradable para inducir la cooperaci&oacute;n del cliente, pero es responsabilidad del Cliente responder apropiadamente y cooperar con Carlos L&oacute;pez de Lara para poder realizar las fotograf&iacute;a, </span><span class="c9">Carlos L&oacute;pez de Lara</span><span class="c0">&nbsp; s&oacute;lo puede capturar la personalidad y la actitud que el Cliente proyecta. </span></p>
    <p class="c4 c7 c10"><span class="c0"></span></p>
    <p class="c4 c10"><span class="c0">TIEMPO: Iniciar a tiempo es esencial para </span><span class="c9">Carlos L&oacute;pez de Lara</span><span class="c0">&nbsp;ya que el &eacute;xito de las fotograf&iacute;as obtenidas est&aacute; fuertemente relacionado con la cantidad de tiempo disponible para ello. </span></p>
    <p class="c4 c7"><span class="c0"></span></p>
    <p class="c4"><span class="c0">7. COMPENSACI&Oacute;N: &nbsp;</span></p>
    <p class="c4 c7"><span class="c0"></span></p>
    <p class="c4"><span class="c0">El Cliente deber&aacute; pagar a </span><span class="c9">Carlos L&oacute;pez de Lara</span><span class="c0">&nbsp;una tarifa fija por los servicios de fotograf&iacute;a contratados para el evento. &Eacute;sta tarifa tarifa corresponder&aacute; a la COBERTURA contratada seg&uacute;n se indica en las ESPECIFICACIONES DEL EVENTO.</span></p>
    <p class="c4 c7"><span class="c0"></span></p>
    <p class="c4 c7"><span class="c0"></span></p>
    <p class="c4"><span class="c0">8. PAGO Y DEP&Oacute;SITO: </span></p>
    <p class="c4 c7"><span class="c0"></span></p>
    <p class="c4"><span class="c0">El Cliente acepta que el precio final de los servicios contratados ser&aacute; de $5,000 Cinco mil pesos 00/100 MN Mismos que ser&aacute;n cubiertos en dos exhibiciones de igual monto. El primer pago se realiza a la firma del presente contrato.</span></p>
    <p class="c4 c7"><span class="c0"></span></p>
    <p class="c4"><span class="c0">Este dep&oacute;sito de $2,500 (Dos mil quinientos pesos 00/100 MN) ser&aacute; considerado un anticipo o pago parcial del &nbsp;total de la tarifa que ser&aacute; cubierta. </span></p>
    <p class="c4 c7"><span class="c0"></span></p>
    <p class="c4"><span class="c0">El segundo pago, deber&aacute; realizarse el d&iacute;a 30 de Diciembre de 2017 al finalizar la sesi&oacute;n fotogr&aacute;fica. </span></p>
    <p class="c4 c7"><span class="c0"></span></p>
    <p class="c4"><span class="c0">El dep&oacute;sito no ser&aacute; devuelto por cancelaci&oacute;n del evento o por cualquier otra causa no imputable a Carlos L&oacute;pez de Lara. </span></p>
    <p class="c4 c7"><span class="c0"></span></p>
    <p class="c4 c7"><span class="c0"></span></p>
    <p class="c4 c7"><span class="c0"></span></p>
    <p class="c4 c7"><span class="c0"></span></p>
    <p class="c4"><span class="c0">9. L&Iacute;MITES DE RESPONSABILIDAD</span></p>
    <p class="c4 c7"><span class="c0"></span></p>
    <p class="c4"><span class="c9">Carlos L&oacute;pez de Lara </span><span class="c0">tomar&aacute; las medidas que estime pertinentes para reducir el riesgo de p&eacute;rdida de material fotogr&aacute;fico provocado por FALLAS MEC&Aacute;NICAS O ELECTR&Oacute;NICAS de los dispositivos utilizados durante la cobertura, tales como: c&aacute;maras, flashes, lentes, sistemas de almacenamiento, tarjetas de memoria, etc. Tales acciones pueden ser pero no se limitan a: &nbsp;Uso de segunda c&aacute;mara, uso de m&uacute;ltiples flashes, m&uacute;ltiples tarjetas de memoria, respaldo de datos en postproducci&oacute;n, entre otras.</span></p>
    <p class="c4 c7"><span class="c0"></span></p>
    <p class="c4"><span class="c0">El cliente, reconoce y acepta que existe siempre un riesgo de FALLAS MEC&Aacute;NICAS O FALLAS ELECTR&Oacute;NICAS en los equipos necesarios para realizar la cobertura fotogr&aacute;fica de su evento.</span></p>
    <p class="c4 c7"><span class="c0"></span></p>
    <p class="c4"><span class="c0">En caso de presentarse alguna FALLA MEC&Aacute;NICA O ELECTR&Oacute;NICA Carlos L&oacute;pez de Lara no ser&aacute; legalmente responsable por la p&eacute;rdida definitiva de im&aacute;genes. </span></p>
    <p class="c4 c7"><span class="c0"></span></p>
    <p class="c4"><span class="c0">De igual forma &nbsp;Carlos L&oacute;pez de Lara no ser&aacute; legalmente responsable por fallas que puedan presentarse en cualquier dispositivo relacionado con la post-producci&oacute;n del material fotogr&aacute;fico materia del presente contrato. El Cliente libera de toda responsabilidad a Carlos L&oacute;pez de Lara por las p&eacute;rdidas de material fotogr&aacute;fico que pudieran originarse a consecuencia de :</span></p>
    <p class="c4 c15 c7"><span class="c0"></span></p>
    <ul class="c25 lst-kix_list_4-4 start">
        <li class="c3"><span class="c0">Fallas en sus c&aacute;maras o sus componentes</span></li>
        <li class="c3"><span class="c0">Fallas en las tarjetas de memoria o sus componentes</span></li>
        <li class="c3"><span class="c0">Fallas en los discos duros que se utilicen para transferir im&aacute;genes a computadoras para el procesamiento de im&aacute;genes</span></li>
        <li class="c3"><span class="c0">Fallas en el equipo de iluminaci&oacute;n </span></li>
        <li class="c3"><span class="c0">Fallas en las computadoras utilizadas para el procesamiento de im&aacute;genes</span></li>
        <li class="c3"><span class="c0">Fallas en cualquier dispositivo relacionado con la producci&oacute;n del material fotogr&aacute;fico materia del presente contrato.</span></li>
    </ul>
    <p class="c4 c7"><span class="c0"></span></p>
    <p class="c4"><span class="c0">En caso de p&eacute;rdida TOTAL de las im&aacute;genes capturadas, </span><span class="c9">Carlos L&oacute;pez de Lara </span><span class="c0">&uacute;nicamente estar&aacute; obligado a reintegrar el 100% de los pagos realizados por El Cliente. El cliente renuncia a cualquier otra acci&oacute;n legal en su contra. </span></p>
    <p class="c4 c7"><span class="c0"></span></p>
    <p class="c4"><span class="c0">10. RIESGOS: El Cliente entiende y asume todos los riesgos asociados con las actividades que realizar&aacute;n durante su evento, incluyendo las actividades relacionadas con los servicios fotogr&aacute;ficos contratados. </span></p>
    <p class="c4 c7"><span class="c0"></span></p>
    <p class="c4"><span class="c0">11. EXCLUSI&Oacute;N DE RESPONSABILIDAD: &nbsp;El Cliente renuncia a ejercer cualquier acci&oacute;n legal en contra de Carlos L&oacute;pez de Lara o su equipo de trabajo por cualquier da&ntilde;o moral, en propiedad, a la integridad o a la vida que se pudieran causar durante la realizaci&oacute;n de los servicios contratados, exceptuando aquellos da&ntilde;os que sean fruto de acciones dolosas por parte de Carlos L&oacute;pez de Lara. </span></p>
    <p class="c4 c7"><span class="c0"></span></p>
    <p class="c4 c7"><span class="c0"></span></p>
    <p class="c4"><span class="c0">12. OTROS T&Eacute;RMINOS </span></p>
    <p class="c4 c7"><span class="c0"></span></p>
    <p class="c4 c15"><span class="c0">JURISDICCI&Oacute;N: Las Partes est&aacute;n de acuerdo en que en lo no previsto, se aplique lo dispuesto por las Leyes Vigentes del Estado de Zacatecas y que en caso de controversia o conflicto sobre la interpretaci&oacute;n, aplicaci&oacute;n y alcances de este contrato, se someten a la jurisdicci&oacute;n de los tribunales competentes en el domicilio de Carlos L&oacute;pez de Lara &nbsp;mismo que ha quedado se&ntilde;alado en la declaraci&oacute;n primera de este instrumento. </span></p>
    <p class="c4 c15 c7"><span class="c0"></span></p>
    <p class="c4 c15"><span class="c0">NULIDAD DE ACUERDOS PREVIOS: El presente documento representa la totalidad del contrato entre las Partes, por tanto, cualquier entendimiento o documento previo es declarado nulo por las Partes. </span></p>
    <p class="c4 c15 c7"><span class="c0"></span></p>
    <p class="c4 c15"><span class="c0">MODIFICACIONES AL CONTRATO: Cualquier modificaci&oacute;n al presente contrato o la asumpci&oacute;n de obligaciones adicionales por cualquiera de las Partes relacionadas con el presente contrato s&oacute;lo ser&aacute;n posibles mediante la firma de un nuevo contrato. &nbsp; &nbsp; &nbsp;</span></p>
    <p class="c4 c15"><span class="c0">&nbsp; &nbsp; &nbsp; &nbsp; </span></p>
    <p class="c4 c15"><span class="c0">INFORMACI&Oacute;N ADICIONAL: Cualquier informaci&oacute;n adicional relativa a las actividades del evento materia del presente contrato deber&aacute; comunicarse por escrito. &nbsp; &nbsp; </span></p>
    <p class="c4 c15 c7"><span class="c0"></span></p>
    <p class="c4 c15"><span class="c0">Las Partes manifiestan que conocen y aprueban el contenido y &nbsp;alcances de este instrumento, por lo que lo firman al calce (Abajo) &nbsp;como prueba eficaz de su pleno y total consentimiento, expresando que en &eacute;l no concurre violencia f&iacute;sica o moral, coacci&oacute;n o vicio alguno de la voluntad:</span></p>
    <p class="c4"><span class="c0">&nbsp;</span></p>
    <p class="c4 c7"><span class="c0"></span></p>
    <p class="c4 c7"><span class="c0"></span></p>
    <p class="c4 c7"><span class="c0"></span></p>
    <p class="c1 c7"><span class="c0"></span></p>
    <p class="c1"><span class="c0">ZACATECAS, ZACATECAS A SEIS DE DICIEMBRE DE DOS MIL DECISEIS </span><span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 177.84px; height: 163.87px;"><img alt="" src="/static/images/image1.png" style="width: 177.84px; height: 163.87px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title=""></span></p>
    <p class="c1 c7"><span class="c0"></span></p>
    <p class="c1 c7"><span class="c0"></span></p>
    <p class="c1 c7"><span class="c0"></span></p>
    <p class="c1 c7"><span class="c0"></span></p>
    <p class="c1 c7"><span class="c0"></span></p>
    <p class="c1 c7"><span class="c0"></span></p>
    <p class="c1 c7"><span class="c0"></span></p>
    <p class="c1 c7"><span class="c0"></span></p>
    <p class="c1"><span class="c0">CARLOS ARTURO LOPEZ DE LARA RANGEL &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {{e["customerName"]}} </span></p>
    <p class="c1 c7"><span class="c0"></span></p>
    <p class="c1 c7"><span class="c0"></span></p>
    <p class="c1 c7"><span class="c0"></span></p>
    <p class="c1 c7"><span class="c0"></span></p>
    <p class="c1 c7"><span class="c8"></span></p>
    <div>
        <p class="c1"><span class="c26">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;P&aacute;gina </span><span class="c26">&nbsp;de </span></p>
    </div>
</body>

</html>
