{% include './CONTRATO_head.html' %}

<body class="c22">
    <div>
        <p class="c1"><span class="c14">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 175.03px; height: 59.83px;"><img alt="" src="{% include './image2.base64' %}" style="width: 175.03px; height: 59.83px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title=""></span></p>
    </div>
    <p class="c1 c7"><span class="c8"></span></p>
    <p class="c16"><span class="c8">ESPECIFICACIONES DEL EVENTO:</span></p>
    <p class="c1 c7"><span class="c2"></span></p>
    <p class="c1 c7"><span class="c6"></span></p>
    <p class="c1"><span class="c6">FECHA DEL EVENTO: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ e['FechaEvento'] }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p>
    <p class="c1 c7"><span class="c6"></span></p>
    <p class="c1"><span class="c6">DATOS DE CONTACTO</span></p>
    <p class="c1 c7"><span class="c6"></span></p>
    <p class="c1 c13"><span class="c6">NOMBRE:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ e['Cliente'] }}L&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p>
    <p class="c1 c7 c13"><span class="c6"></span></p>
    <p class="c1 c13"><span class="c6">NOVIOS: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ e['tipoEvento']}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p>
    <p class="c1 c13 c7"><span class="c6"></span></p>
    <p class="c1 c13"><span class="c6">TEL&Eacute;FONO:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="c2">{{ e['email']}}</span></p>
    <p class="c1 c13 c7"><span class="c6"></span></p>
    <p class="c1 c13"><span class="c6">DOMICILIO: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="c5">Morelos 728 A Centro Zacatecas, Zacatecas</span></p>
    <p class="c1"><span class="c8">&nbsp;</span></p>
    <p class="c1 c7"><span class="c8"></span></p>
    <p class="c1"><span class="c2">DETALLES DEL EVENTO:</span></p>
    <p class="c1 c7"><span class="c8"></span></p>
    <a id="t.462814704e61d0f0b88ddec630dc0544bb2a2bfb"></a>
    <a id="t.0"></a>
    <table class="c23">
        <tbody>
            <tr class="c21">
                <td class="c18" colspan="1" rowspan="1">
                    <p class="c1"><span class="c0">EVENTO:</span></p>
                </td>
                <td class="c30" colspan="1" rowspan="1">
                    <p class="c1"><span class="c0">HORA</span></p>
                </td>
                <td class="c28" colspan="1" rowspan="1">
                    <p class="c1"><span class="c0">LUGAR</span></p>
                </td>
            </tr>
            <tr class="c24">
                <td class="c12" colspan="1" rowspan="1">
                    <p class="c1"><span class="c0">{{e['tipoEvento']}}</span></p>
                </td>
                <td class="c27" colspan="1" rowspan="1">
                    <p class="c1"><span class="c0">{{e['FechaEvento']}}</span></p>
                </td>
                <td class="c31" colspan="1" rowspan="1">
                    <p class="c1"><span class="c0">{{e['tipoEvento']}}</span></p>
                </td>
            </tr>
        </tbody>
    </table>
    <p class="c1 c7"><span class="c8"></span></p>
    <p class="c1 c7"><span class="c8"></span></p>
    <p class="c1 c7"><span class="c8"></span></p>
    <p class="c1"><span class="c2">COBERTURA CONTRATADA: </span></p>
    <p class="c1 c7"><span class="c6"></span></p>
    <p class="c1"><span class="c6">SESI&Oacute;N DE FOTOS</span></p>
    <p class="c1"><span class="c17">M&iacute;nimo de 35 FOTOS en formato digital </span></p>
    <p class="c1 c7"><span class="c17"></span></p>
    <p class="c1"><span class="c17">IMPRESIONES</span></p>
    <p class="c1"><span class="c17">1 FOTOGAF&Iacute;A IMPRESA EN 16 X 24 PULGADAS</span></p>
    <p class="c1"><span class="c17">20 FOTOGRAF&Igrave;AS EN 6X9 PULGADAS</span></p>
    <p class="c1 c7"><span class="c17"></span></p>
    <p class="c1"><span class="c2">HORARIO DE COBERTURA: &nbsp;</span></p>
    <p class="c1"><span class="c2">15:00 A 16:00 HRS</span></p>
    <p class="c1 c7"><span class="c17"></span></p>
    <p class="c19"><span class="c6">TARIFA FINAL DE SERVICIOS CONTRATADOS: </span><span class="c17">&nbsp;</span></p>
    <p class="c19"><span class="c17">$5,000.00 (CINCO MIL PESOS 00/100 MN)</span></p>
    <p class="c19 c7"><span class="c17"></span></p>
    <p class="c19"><span style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 177.84px; height: 163.87px;"><img alt="" src="{% include './image1.base64' %}" style="width: 177.84px; height: 163.87px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);" title=""></span></p>
    <p class="c7 c19"><span class="c17"></span></p>
    <p class="c19 c7"><span class="c17"></span></p>
    <p class="c19"><span class="c17">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;</span></p>
    <p class="c19"><span class="c17">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span></p>
    <p class="c19 c7"><span class="c17"></span></p>
    <p class="c16 c7"><span class="c17"></span></p>
    <p class="c7 c16"><span class="c17"></span></p>
    <p class="c16"><span class="c17">CARLOS L&Oacute;PEZ DE LARA &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; YADIRA HERNANDEZ VIGIL &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span></p>
    <p class="c16 c7"><span class="c11"></span></p>
    <p class="c16 c7"><span class="c11"></span></p>
    <p class="c16 c7"><span class="c11"></span></p>
    <p class="c16 c7"><span class="c11"></span></p>
    <p class="c16 c7"><span class="c11"></span></p>
    <p class="c16 c7"><span class="c11"></span></p>
    <p class="c16"><span class="c11">CONTRATO DE PRESTACI&Oacute;N DE SERVIC</span><span class="c2">IOS PROFESIONALES DE FOTOGRAF&Iacute;A DIGITAL</span></p>
    <p class="c1 c7"><span class="c0"></span></p>
    <ol class="c25 lst-kix_list_2-0 start" start="1">
        <li class="c4 c20"><span class="c0">LAS PARTES: &nbsp;</span></li>
    </ol>
    <p class="c4 c7"><span class="c0"></span></p>
    <p class="c4"><span class="c0">El presente contrato se realiza entre Carlos Arturo L&oacute;pez de Lara Rangel con domicilio en Alameda Trinidad Garc&iacute;a de la Cadena 306 colonia Centro de la ciudad de Zacatecas, Zacatecas con C&oacute;digo Postal 98000 a quien en lo sucesivo se denominar&aacute; &nbsp;</span><span class="c9">Carlos L&oacute;pez de Lara</span><span class="c0">&nbsp; y </span><span class="c5">{{e['Cliente']}} </span><span class="c0">con domicilio en </span><span class="c5">{{e['ETHCliente']}} </span><span class="c0">y n&uacute;mero telef&oacute;nico </span><span class="c5">{{e['email']}} </span><span class="c0">a quien en lo sucesivo se denominar&aacute; </span><span class="c9">Cliente.</span><span class="c0">&nbsp;A Carlos L&oacute;pez de Lara y al Cliente, colectivamente, se les denominar&aacute; como las Partes. </span></p>

{% include './CONTRATO_footer.html' %}
